.footer{
    
    background: var(--footer-color);
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px; 
}  


.footer-info, .footer-info-soc{
    margin: 0;
    padding: 0;
    display: block; 
    margin-bottom: 60px;

    margin-left: auto;
    margin-right: auto;

}


.footer-form-container{
    margin: 0;
    padding: 0;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.footer-label{
font-style: normal;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;

display: inline-block;



color: var(--white-color);

margin-left: auto;
margin-right: auto;
text-align: center;
}

.form-group{
box-sizing: border-box;
display: block;

margin-left: auto;
margin-right: auto;
text-align: center;

}

.footer-input{
display: block;
margin-left: auto;
margin-right: auto;

margin-top: 20px;
text-align: left;

height: 50px;
min-width: 300px;
padding-left: 16px;

position: relative;

border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

background-color: var(--footer-color);

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.25px;

align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-input .footer-form-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.footer-form-btn{
display: block;  
position: relative;

margin-top: 20px;

margin-left: auto;
margin-right: auto;

text-align: center;
align-items: center;

cursor: pointer;

min-width: 200px;

padding-top: 8px;
padding-bottom: 10px;
padding-left: 28px;
padding-right: 28px;
background-color:  var(--accent-color);
font-family: var(--main-font);
font-style: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
    
color: var(--white-color);

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

.icon-send{
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;

    fill: var(--white-color);

    margin-left: 10px;

    vertical-align: middle;
}


.address{
    display: block;   
    margin-right: auto;
    
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

 .footer-logo-web{
    margin: 0;
    padding: 0;

    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.385;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.footer-logo-s{
    margin: 0;
    padding: 0;

    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
                            
.footer-logo-link { 
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-decoration:none;

    text-align: center;

    margin-bottom: 20px;
    padding: 0;

    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,  
    &:focus{
        color: var(--accent-color);
        }
}

.footer-social-title{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white-color);
    
    margin-bottom: 20px;

    text-align: center;
    }
    
    .footer-social-list{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .footer-social-list-item{
        display: flex;
        align-items: center;
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    
    
    
    .footer-social-list-link{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 44px;
        height: 44px;
    
        border-radius: 50%;
    
        background-color:rgba(255, 255, 255, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  

        &:hover, 
        &:focus{
            background-color: var(--accent-color);
        }
    }
    
    .footer-social-list-icon{
        width: 20px;
        height: 20px;
        fill: var(--white-color);
    }
    
    
    .footer-social-list-link:hover .footer-social-list-icon,
     .footer-social-list-link:focus .footer-social-list-icon {
        fill: var(--white-color);   
    }


@media screen and (min-width: 320px) and (max-width: 767px) {

    }

@media screen and (min-width: 768px) {
.footer{
    padding-left: 60px;
    padding-right: 80px;
}

.footer-info, .footer-info-soc{
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 165px;
           
}
.footer-info-soc{
    margin-right: 0px;
    position: relative;
    bottom: 55px;
                 
}

.footer-social-title{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
            
    margin-bottom: 20px;
}
    
.footer-form-container{
    margin: 0;
    padding: 0;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.footer-label{
font-style: normal;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;

display: inline-block;



color: var(--white-color);

margin-left: auto;
margin-right: auto;
text-align: center;
}

.form-group{
box-sizing: border-box;
display: block;

margin-left: auto;
margin-right: auto;
text-align: center;

}

.footer-input{
display: block;
margin-left: auto;
margin-right: auto;

margin-top: 20px;
text-align: left;

height: 50px;
width: 450px;
padding-left: 16px;

position: relative;

border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

background-color: var(--footer-color);

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.25px;

align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.footer-input .footer-form-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.footer-form-btn{
display: block;  
position: relative;

margin-top: 20px;

margin-left: auto;
margin-right: auto;

text-align: center;
align-items: center;

cursor: pointer;

min-width: 200px;

padding-top: 8px;
padding-bottom: 10px;
padding-left: 28px;
padding-right: 28px;
background-color:  var(--accent-color);
font-family: var(--main-font);
font-style: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
    
color: var(--white-color);

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

.icon-send{
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;

    fill: var(--white-color);

    margin-left: 10px;

    vertical-align: middle;
}



    }

    
@media screen and (min-width: 1200px) {
    .footer{
    
        background: var(--footer-color);
        margin: 0;
        padding: 0;
        padding-bottom: 60px;
        padding-top: 60px;
        display: flex;    
    }  
    
    
    .footer-info, .footer-info-soc{
        margin: 0;
        padding: 0;
        display: inline-block; 
        margin-right: 70px;
        margin-bottom: 0px;
    
        vertical-align: top;
    }
    .footer-info-soc{
        margin-right: 93px;
        margin-top: 68px;
    }
    
    .footer-form-container{
        margin: 0;
        padding: 0;
        margin-top: 12px;
       
        display: inline-block;
    
    }
    
    
    .footer-label{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);

    text-align: left;
    
    }
    
    .form-group{
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    }
    
    .footer-input{
    margin-top: 20px;
    
    height: 50px;
    width: 346px;
    padding-left: 16px;
    
    position: relative;
    
    vertical-align: middle;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    background-color: var(--footer-color);
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25px;
    
    
    align-items: center;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6)
    }
    
    .footer-input .footer-form-btn{
        display: inline;
    }
    
    .footer-form-btn{
    display: inline-block;   
    padding: 0;
    margin: 0;
    position: relative;
    left: 180%;
    
    text-align: center;
    
    top: 34px;
    
    
    vertical-align: middle;
    
    min-width: 200px;
    
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    background-color:  var(--accent-color);
    font-family: var(--main-font);
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
        
    color: var(--white-color);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
    
    .icon-send{
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
    
        fill: var(--white-color);
    
        margin-left: 10px;
    
        vertical-align: middle;
    }
    
    .footer-input{
        display: block;
       
    }
    
    .address{
        display: block;   
        margin-right: auto;
        
        margin-top: 0px;
    }
    
     .footer-logo-web{
        margin: 0;
        padding: 0;
    
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.385;
        letter-spacing: 0.03em;
        color:var(--accent-color);
    }
    
    .footer-logo-s{
        margin: 0;
        padding: 0;
    
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.385;
        letter-spacing: 0.03em;
        color: var(--white-color);
    }
                                
    .footer-logo-link { 
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.385;
        letter-spacing: 0.03em;
        text-decoration:none;
    
        margin-bottom: 20px;
        padding: 0;

        text-align: left;
    
        display: block;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,  
        &:focus{
            color: var(--accent-color);
            }
    }
    
    .footer-social-title{
        margin: 0;
        padding: 0;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
        color: var(--white-color);
        
        margin-bottom: 20px;
        }
        
        .footer-social-list{
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto; 
        }
        
        .footer-social-list-item{
            display: flex;
            align-items: center;
            
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        
        .footer-social-list-link{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 44px;
            height: 44px;
        
            border-radius: 50%;
        
            background-color:rgba(255, 255, 255, 0.1);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
            &:hover, 
            &:focus{
                background-color: var(--accent-color);
            }
        }
        
        .footer-social-list-icon{
            width: 20px;
            height: 20px;
            fill: var(--white-color);
        }
        
        
        .footer-social-list-link:hover .footer-social-list-icon,
         .footer-social-list-link:focus .footer-social-list-icon {
            fill: var(--white-color);   
        }

}