:root {
    --main-color:  #212121;
    --accent-color: #2196F3;
    --white-color: #fff;
    --filters-color: #F5F4FA;
    --second-color: #757575;
    --icon-color: #AFB1B8;
    --footer-color: #2F303A;
    --header-line-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --outline-color: #000;


    --main-font: "Roboto"; 
    --second-font: "Raleway"; 
    

    --card-set-gap: 30px;
    }
    
    